{% extends "base.html" %}

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <h1>Talk to us</h1>
        <p>
        You can contact us either by email as through social networks, follow the links below:
        </p>
        <h4>Links</h4>
        <ul>
            <li>E-mail: <a href="mailto:alephmelo@icloud.com">alephmelo@icloud.com</a></li>
            <li>Twitter: <a href="https://twitter.com/Alephbreno">@Alephbreno</a></li>
        </ul>
    </div>
</div>
{% endblock %}