* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    line-height: 1.7em;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}
.content {
    padding-top: 2em;
}
.l-box {
    padding: 1em;
}
.header {
    margin: 0 0;
}
.header .pure-menu {
    padding: 0.5em;
    background-color: #2d3e50;
}
.header .pure-menu a {
    color: #fff;
}
.header .pure-menu li a:hover,
.header .pure-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}
.header .pure-menu-heading {
    float: left;
}
.header ul {
    float: right;
}
.home-menu {
    padding: 0.5em;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu.pure-menu-open {
    background: #2d3e50;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}
.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}
body .primary-button {
    background: #02a6eb;
    color: #fff;
}
.splash {
    margin: 0 auto;
    padding: 1.5em 1em 0;
    background: #eee;
}
.splash .splash-head {
    font-size: 300%;
    margin: 0em 0;
    line-height: 1.2em;
}
.splash .splash-subhead {
    color: #999;
    font-weight: 300;
    line-height: 1.4em;
}
.splash .primary-button {
    font-size: 150%;
}
.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}
.content .content-ribbon {
    margin: 3em;
    border-bottom: 1px solid #eee;
}
.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
.ribbon h2 {
    display: inline;
    font-weight: normal;
}
.footer {
    background: #2d3e50;
    color: #fff;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}
ul.errorlist {
    margin: 0;
    padding: 0;
}
ul.errorlist li {
    color: #C53F3F;
    display: block;
    margin: 0.3em 0;
    font-size: 0.9em;
    border: none;
    padding: 0;
}
form.pure-form-aligned ul.errorlist li {
    padding-left: 11.5em;
}
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}
.pure-form input[type], textarea, select {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    max-width: 350px;
    margin-bottom: 0.3em;
}
.pure-form textarea {
    max-width: 450px;
}
.pure-form .pure-control-group {
    margin-bottom: 1em;
}
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}